.weatherComponent {
    background-color: #6149f9;
    text-align: center;
    padding: 2em 0;
    color: white;
}
.weatherComponent h3 {
    font-size: 1.5em;
    font-weight: 400;
}
.weatherComponent p {
    font-size: 3em;
    font-weight: 500;
    transform: translateX(2%);
}
.weatherComponent img {
    max-width: 10em;
}